.texto_color{
    color:black;
}

.tabla_personas{
    background-color: #eceff1;
    width: 40%;
    left: 20%;
    top: 20%;
    height: 250px;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 12px 12px;
    overflow: hidden;
    box-shadow: 2px 2px 12px 0px rgba(32, 32, 32, .3);
}

.tabla_personas_2{
    background-color: #eceff1;
    width: 80%;
    left: 10%;
    top: 10%;
    height: 125px;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
}

table, td, th{
    /*border: 1px solid black;*/
    margin-left: auto;
    margin-right: auto;
}

tr:nth-child(odd){
    background-color: #cfd8dc;
}

.th_table{
    text-align: left;
    color:white;
    margin-right: 20%;
}

.th_table_2{
    padding-left: 3%;
    text-align: left;
    color:white;
    margin-right: 20%;
}